<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <style>
        label, input[type='text'], input[type='submit']{
            display: block;
            margin: 8px 0;
        }

        .error-label {
            color: red;
        }

        input[type='submit'] {
            color: white;
            background-color: #4CAF50;
            padding: 14px 20px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }
    </style>
</head>
<body>


<form method="post" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" name="_method" value="PATCH" />
    <input type="hidden" name="id" th:value="${user.id}" />

    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>


    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age"/>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>

    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>

    <br/>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<a href="/logout" class="logout-button">Logout</a>

</body>
</html>